
html{
    background-color: rgb(58, 58, 58); 
   color: white;
  
}

header h1 {
    background-color: rgb(88, 151, 240);
height: 40px;
width: 220px;
}

table {
    background-color: rgb(88, 151, 240);
}

#loja{
    background-color: rgb(172, 172, 172);
}

p{
    color: white;
}

footer{ 
 
background-color:  rgb(88, 151, 240);
}