*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 47, 47);
   color: white;
}

.header {
    background-color: rgb(88, 151, 240);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 opacity: 100%;
}

#logo {
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    padding: 40px 20px 20px 20px;
    float: left;
}

.clear{
    clear: both;
}


.navbar a {
 font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding:  40px 20px 20px 20px;
  float: right;
}


.img1, .img2, .img3{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60%;

}

.img1{
    background-image: url(/img/brasilredentor.png);
}

.conteudo{

    background-color: black;
}




footer {
 
    background-color: rgb(88, 151, 240);
}



